@model InvoiceDetail

<div class="modal fade" id="addinvoice">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addinvoicelabel">Add Invoice</h4>
                <button type="button" id="xicon" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                
            </div>
            <div class="modal-body">
                <form action="@Url.Action("Create")" method="post" id="createForm">
                    <div class="form-group">
                        <label asp-for="ItemName"></label>
                        <input asp-for="ItemName" class="form-control" />
                        <span asp-validation-for="ItemName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InvoiceHeader.Branch.BranchName"></label>
                        <input asp-for="InvoiceHeader.Branch.BranchName" class="form-control" />
                        <span asp-validation-for="InvoiceHeader.Branch.BranchName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ItemCount"></label>
                        <input asp-for="ItemCount" class="form-control" />
                        <span asp-validation-for="ItemCount" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="closeButton">Close</button>
                <button type="button" class="btn btn-primary" id="saveButton">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        
        $('#saveButton').click(function () {
           
            $('#createForm').submit(); 
            $('#addinvoice').modal('hide'); 
        });
        $('#closeButton').click(function () {
            $('#addinvoice').modal('hide'); 
        });
        $('#xicon').click(function () {
            $('#addinvoice').modal('hide'); 
        });
    });
</script>
